<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Script Runner</title>
</head>
<body>
    <h1>Run SOLWEIG procssssessing</h1>
    <a href="{% url 'leaflet_map' %}"><button type="button">Select Area for SOLWEIG</button></a>
    <form action="{% url 'run_script' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="script_name" value="crop.py">Crop Data</button>
        <button type="submit" name="script_name" value="skyviewfactor.py">Create Skyviewfactor</button>
        <button type="submit" name="script_name" value="solweig.py">Run SOLWEIG</button>
        <button type="submit" name="script_name" value="view_image.py">View Result</button>
    </form>
{% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    {% if script_output %}
        <h2>Script Output</h2>
        <pre>{{ script_output }}</pre>
    {% endif %}
    {% if script_error %}
        <h2>Script Error</h2>
        <pre>{{ script_error }}</pre>
    {% endif %}
</body>
</html>
