body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
 
.header {
    background-color: #114232;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto; 
    background-color: #fff;
    padding: 20px; 
}
 
.main-content {
    flex: 3;
    padding: 20px;
    text-align: justify
}
 
.sidebar {
    flex: 2;
    margin: 20px; 
    padding: 40px;
    background-color: #f4f4f4;

    box-shadow: 0 0 10px rgba(22, 11, 11, 0.1); 
    text-align: justify;
}
 
h1 {
    color: #EEEEEE;
    font-family: “Arial Black”, “Arial Bold”, Gadget, sans-serif;
}

h2 {
    color: #114232;
    font-family: “Arial Black”, “Arial Bold”, Gadget, sans-serif;
}

h3 {
    color: #114232;
    margin: 20 px;
    text-align: center;
    font-family: “Arial Black”, “Arial Bold”, Gadget, sans-serif;
}
 
p {
    color: #666;
}

button {
    border-radius: 10px;
    background-color:#114232;
    color: #f0f0f0;
    padding: 10px 20px;
    margin: 20 px;
    text-align: center;
    border: none;
}
 
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
 
    .sidebar {
        margin: 20px 0; 
    }
}